body {
	margin: 0;
	padding: 0;
  }
  
a {
	text-decoration: none;
  }

.container {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	width: 100%;
  }
  
.container .cartePanier {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 50px 15px;
	background: white;
	border-radius: 20px 20px 20px 20px;
  }
  
.container .cartePanier .cart {
	margin-left: 10px;
  }
  
.container .cartePanier__recap {
	margin: 10px 0 10px 10px;
	width: 90%;
  }
  
.container .cartePanier__recap__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
  }
  
.container .cartePanier__recap .first-line {
	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 19px;
	text-decoration: underline;
  }
  
.container .cartePanier__recap__title {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 120px;
	height: 30px;
	font-weight: bold;
  }
  
.container .cartePanier__recap__data {
	
	display: flex;
	justify-content: center;
	align-self: center;
	width: 120px;
	margin: 2px 0;
	height: 30px;
  }
  
.container .cartePanier__recap__data .fa-trash:hover {
	cursor: pointer;
	opacity: 0.7;
	font-size: 17px;
	transition: 0.3s;
  }

  
  
form {
	margin: 10px;
}
