

body {
    margin: 0;
    padding: 0;
  }
  
a {
    color: yellow;
  }

a:hover {
    color:white;
}

.produitCard {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    border-radius: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
 }

.img {
    width: 100%;
    object-fit: cover;
    border: chocolate solid 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.produitCard__infos__titre {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: yellow; 
}

.produitCard__infos__prix {
    padding-left: 15px;
    padding-bottom: 10px;
    color: yellow; 
}

.produitCard__infos__description {
    padding-left: 15px;
    padding-bottom: 10px;
    color: yellow;
}

.numOurson {
    padding-left: 15px;
}

#numOurson {
    margin-left: 15px;
    margin-right: 400px; 
}

.couleur {
    margin-top: 10px;
    margin-left: 15px;
}

label {
    color: yellow;
}