body {
    margin: 0;
    padding: 0;
  }
  
a {
    color: yellow;
    text-decoration: none;
  }

a:hover {
    color:white;
}

.produits-container {
    margin-top: 30px;
    padding-bottom: 70px;
    padding-top: 10px; 
}

.titre {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px; 
  }

.produits {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center; 
}

.produit {
    margin-top: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    border-radius: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }

.produit__img img {
    width: 100%;
    border: chocolate solid 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.produit__infos {
    position: relative;
    
}

.produit__infos__titre {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold; 
    
}

.produit__infos__prix {
    padding-left: 15px;
    font-weight: bold; 
}


/*----------MediaQuery----------*/

@media screen and (min-width: 700px) {
    .produits-container h2 {
        display: flex;
        justify-content: center; }

    .produits { 
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .produit {
        width: 40%;
        
    }
   
}
    

   